body {
  margin: 0;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 110%;
  color: #40514E;
}

h1 {
  margin: 20px auto 15px auto;
  font-family: Tangerine;
  font-size: 6rem;
  color: #66BFBF;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: Lora;
  color: #11999E;
}

p {
  margin-bottom: 0;
  font-family: Playfair-Display;
}

span {
  text-decoration: underline;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #e3e3e3;
  border-width: 6px;
  width: 2.5%;
  margin: 100px auto 100px auto;
}

.top-container {
  position: relative;
  margin-top: 0;
  padding-top: 50px;
  background-color: #EAF6F6;
}

.middle-container {
  padding: 100px 0 60px 0;
}

.top-cloud {
  max-height: 150px;
  max-width: 200px;
  width: 120px;
  height: 120px;
  position: relative;
  left: 380px;
  top: 65px;
}

.bottom-cloud {
  max-height: 150px;
  max-width: 200px;
  width: 120px;
  height: 120px;
  position: relative;
  right: 760px;
  bottom: 380px;
}

.computer-img {
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.profile-picture {
  height: 200px;
  width: 200px;
  padding-top: 1%;
}

.Adventure {
  border-radius: 100%;
  width: 25%;
  float: right;
  margin-right: 30px;
}

.mountain {
  height: 400px;
  width: 700px;
  position: relative;
  left: 90px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.desc-sub {
  color: #40514E;
  width: 30%;
  margin: auto auto 0 auto;
  }

.btn {
  box-shadow: 0 1px 0 0 #f0f7fa;
  background: linear-gradient(to bottom, #11cdd4 5%, #11999E 100%);
  background-color: #1dcfcf;
  border-radius: 6px;
  border: 1px solid #1dcfcf;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  padding: 6px 24px;
  text-decoration: none;
  margin: 2.5em auto 0 auto;
}

.btn:hover {
  background: linear-gradient(to bottom, #66bfbf 5%, #1dcfcf 100%);
  background-color: #66bfbf;
}

.btn:active {
  position: relative;
  top: 1px;
}

.tm {
  color: #EAF6F6;
  margin-bottom: 0;
}

.footer-link {
  color: #11999E;
  padding-bottom: 0;
}

.footer {
  background-color: #66BFBF;
  padding-top: 3%;
  margin-bottom: 0 auto 0 auto;
  padding-bottom: 2%;
  padding-right: 0;
}

.footer-text {
  word-spacing: 20px;
  text-decoration: none;
  margin-bottom: 0;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.contact-me {
  width: 30%;
  margin: auto;
  line-height: 2;
}
#skill {
  text-decoration: underline;
}
#contact{
  text-decoration: underline;
}
